/* Example dark mode styles */
.dark {
    --bg-color: rgba(0, 0, 0, 0.678);
    --text-color: rgb(0, 0, 0);
  }
  
  /* Apply the colors to elements */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  